
#ant specific
dist/
build/
 
#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock
/MapOfDenmark/nbproject/private/

*.osm
*.cpg
*.dbf
*.prj
*.shp
*.shx
MapOfDenmark/assets/shape/README
MapOfDenmark/assets/shape/README (2)
LICENSE
MapOfDenmark/assets/NaturalData.zip
MapOfDenmark/assets/shapes/landuse.qpj
